/*デイリー入力欄*/
.day{
    width: 100px;
    height: 150px;
    border: solid 1px;
}
/*確認欄のサイズ指定*/
.check{
    position: absolute;
    width: 30px;
    height: 150px;
    border: solid 1px;
}

/*first*/
#ft{
    width: 93px;
}

#f1{
    left: 109px;
    top: 8px;
}

#fcb{
    width: 28px;
    height: 20px;
}

/*second*/
#st{
    width: 93px;
}

#s1{
    left: 109px;
    top: 160px;
}

#scb{
    width: 28px;
    height: 20px;
}

/*third*/
#tt{
    width: 93px;
}

#t1{
    left: 109px;
    top: 312px;
}

#tcb{
    width: 28px;
    height: 20px;
}