/*view month & date*/
#viewdate{
    position: absolute;
    left: 35px;
    top: 10px;
    width: 305px;
    height: 70px;
    border: solid 1px;
}

#viewdate_text{
    position: absolute;
    font-size: 40px;
    left: 98px;
}

/*todo           todo           todo*/

/*デイリー入力欄*/
.day{
    position: absolute;
    width: 150px;
    height: 60px;
    border: solid 1px;
    text-align: center;
    font-size: 20px;
}
/*確認欄のサイズ指定*/
.check{
    position: absolute;
    width: 210px;
    height: 60px;
    border: solid 1px;
    left: 159px;
}



/*first*/
#first_day{
    position: absolute;
    bottom: 570px;
    left: 4px;
}

/*確認欄ボタン first*/
.f_checker{
    width: 30px;
    height: 20px;
}
.first_checker{
    position: absolute;
    width: 30px;
    height: 60px;
    border: solid 1px;
    left: 0px;
}

/*追加テキスト first*/
#ft{
    width: 200px;
}

/*テキスト入力　first*/
#add_1{
    position: absolute;
    top: 63px;
    left: 0px;
}

/*確認欄 first*/

.first_list{
    position: absolute;
    left: 5px;
    top: 30px;
    width: 19px;
    height: 19px;
    border: solid 1px;
    border-radius: 50%;
}

#first_c1{
    left: 151px;
}

#first_c2{
    left: 182px;
}

#first_c3{
    left: 213px;
}

#first_c4{
    left: 244px;
}

#first_c5{
    left: 275px;
}

#first_c6{
    left: 306px;
}

#first_c7{
    left: 337px;
}

/*second                 second                    second               second             second                 second        second      */
#second_day{
    position: absolute;
    bottom: 440px;
    left: 4px;
}

/*テキスト入力　second*/
#add_2{
    position: absolute;
    top: 63px;
    left: 0px;
}

/*追加テキスト　second*/
#st{
    width: 200px;
}

/*追加ボタン*/

/*確認欄*/

.second_checker{
    position: absolute;
    width: 30px;
    height: 60px;
    border: solid 1px;
    left: 4px;
}

.second_list{
    left: 5px;
    top: 30px;
    width: 19px;
    height: 19px;
    border: solid 1px;
    border-radius: 50%;
}

#second_c1{
    left: 151px;
}

#second_c2{
    left: 182px;
}

#second_c3{
    left: 213px;
}

#second_c4{
    left: 244px;
}

#second_c5{
    left: 275px;
}

#second_c6{
    left: 306px;
}

#second_c7{
    left: 337px;
}

/*完了　ボタン*/
.s_checker{
    width: 30px;
    height: 20px;
}

/*second checker*/
.second_list{
    position: absolute;
    left: 5px;
    top: 30px;
    width: 19px;
    height: 19px;
    border: solid 1px;
    border-radius: 50%;
}

/*third               third               third                   third                third                    third               third             third  */
#third_day{
    position: absolute;
    bottom: 310px;
    left: 4px;
}

/*テキスト入力 third*/
#add_3{
    position: absolute;
    top: 63px;
    left:0px;
}

/*追加テキスト third*/
#tt{
    width: 200px;
}

/*確認欄*/
.third_checker{
    position: absolute;
    width: 30px;
    height: 60px;
    border: solid 1px;
}

#third_c1{
    left: 151px;
}

#third_c2{
    left: 182px;
}

#third_c3{
    left: 213px;
}

#third_c4{
    left: 244px;
}

#third_c5{
    left: 275px;
}

#third_c6{
    left: 306px;
}

#third_c7{
    left: 337px;
}

/*完了　ボタン*/
.t_checker{
    width: 30px;
    height: 20px;
}

/*third checker*/
.third_list{
    position: absolute;
    left: 5px;
    top: 30px;
    width: 19px;
    height: 19px;
    border: solid 1px;
    border-radius: 50%;
}

/*four              four            four         four               four              four             four                 four                  four*/
#four_day{
    position: absolute;
    bottom: 180px;
    left: 4px;
}

/*テキスト入力　second*/
#four_2{
    position: absolute;
    top: 63px;
    left: 0px;
}

/*追加テキスト　second*/
#fot{
    width: 200px;
}

/*追加ボタン*/

#add_4{
    position: absolute;
    top: 61px;
}

/*確認欄*/

.four_checker{
    position: absolute;
    width: 30px;
    height: 60px;
    border: solid 1px;
    left: 4px;
}

.four_list{
    left: 5px;
    top: 30px;
    width: 19px;
    height: 19px;
    border: solid 1px;
    border-radius: 50%;
}

#four_c1{
    left: 151px;
}

#four_c2{
    left: 182px;
}

#four_c3{
    left: 213px;
}

#four_c4{
    left: 244px;
}

#four_c5{
    left: 275px;
}

#four_c6{
    left: 306px;
}

#four_c7{
    left: 337px;
}

/*完了　ボタン*/
.fo_checker{
    width: 30px;
    height: 20px;
}

/*four checker*/
.four_list{
    position: absolute;
    left: 5px;
    top: 30px;
    width: 19px;
    height: 19px;
    border: solid 1px;
    border-radius: 50%;
}